.outer {
    height: fit-content;
    padding-top: 28px;
    letter-spacing: 0.5px;
}

.button {
    font-size: 1.15rem;
    font-weight: 600;
    color: #fff;
    border: 1px solid #cecaca48;
    border-radius: 1% 30%;
    background-color: var(--main-text-color);
    transition: all 0.3s ease-in-out;
}

.button:hover {
    color: var(--main-text-color);
    background-color: #72899e10;
    border-radius: 30% 1%;
}

.iconOuter {
    margin-right: 207px;
}
