.outer {
    letter-spacing: 0.5px;
    font-weight: 300;
    margin-top: 40px;
}

.header {
    font-size: 2rem;
}

.contentHeader {
    font-size: 1.8rem;
}

.blockHeader {
    display: inline-block;
    font-size: 1.3rem;
    border-bottom: solid 1px var(--pale-border-color);
    color: #122155;
}

.contentSubHeader {
    font-size: 1.5rem;
    color: #122155;
    margin-top: 15px;
}

.link {
    color: #122155;
    font-weight: 600;
}
