@tailwind base;
@tailwind utilities;

:root {
    --main-text-color: #0460d8;
    --pale-border-color: #e5e7eb;
}

html, body {
    min-height: 100vh;
}

@layer utilities {
    .w-fit {
        width: fit-content;
    }

    .h-fit {
        height: fit-content;
    }

    .selectedElement {
        color: var(--main-text-color);
        font-weight: 600;
    }
}
