.outer {
    background-color: #72899e10;
    min-height: 100vh;
    border-right: 1px solid #cecaca48;
    width: 43%;
}

.topElement {
    border-radius: 10%;
    user-select: none;
    text-transform: capitalize;
    font-size: 1em;
    transition: all 0.2s ease-in;
}

.topElement:hover {
    color: #0460d8;
}
