.outer {
    background-color: #72899e10;
    min-height: 100vh;
    width: 43%;
    border-right: 1px solid #cecaca48;
    font-weight: 350;
    letter-spacing: 0.5px;
}

.topElement {
    border-radius: 10%;
    user-select: none;
    text-transform: capitalize;
    font-size: 1em;
    transition: all 0.2s ease-in;
}

.topElement:hover {
    color: var(--main-text-color);
}
